In [1]:
import pandas as pd
import re

### Imports Json file into a dataframe and creating our table

In [2]:

pd_df = pd.read_json("202008.json")
# imports umd data as a panda df
# print(pd_df.head())

info = pd_df[["course_id", "dept_id", "name", "credits", "relationships"]]

math115 = info[info["course_id"] == "MATH115"]
psych100 = info[info["course_id"] == "PSYCH100"]
stat100 = info[info["course_id"] == "STAT100"]

inst_courses = info[info["dept_id"] == "INST"]
# filters df for courses where dept_id is "INST" and selects
# columns listed

inst_prgm = pd.concat([math115, psych100, stat100, inst_courses])

inst_prgm.head()
### inst_prgrm is our working dataframe

,course_id,dept_id,name,credits,relationships
3465,MATH115,MATH,Precalculus,3,"{'coreqs': None, 'prereqs': 'Must have math el..."
4359,STAT100,STAT,Elementary Statistics and Probability,3,"{'coreqs': None, 'prereqs': 'MATH110, MATH112,..."
3022,INST123,INST,Databases for All,3,"{'coreqs': None, 'prereqs': None, 'formerly': ..."
3023,INST126,INST,Introduction to Programming for Information Sc...,3,"{'coreqs': None, 'prereqs': 'Minimum grade of ..."
3024,INST152,INST,"""Fake Checking"": Battling Misinformation and D...",3,"{'coreqs': None, 'prereqs': None, 'formerly': ..."

### Adding the core courses

In [3]:
core = False

inst_prgm["core"] = core

inst_prgm.loc[inst_prgm['course_id'] == 'INST201', ['core']] = True
inst_prgm.loc[inst_prgm['course_id'] == 'INST311', ['core']] = True
inst_prgm.loc[inst_prgm['course_id'] == 'INST314', ['core']] = True
inst_prgm.loc[inst_prgm['course_id'] == 'INST326', ['core']] = True
inst_prgm.loc[inst_prgm['course_id'] == 'INST327', ['core']] = True
inst_prgm.loc[inst_prgm['course_id'] == 'INST335', ['core']] = True
inst_prgm.loc[inst_prgm['course_id'] == 'INST346', ['core']] = True
inst_prgm.loc[inst_prgm['course_id'] == 'INST352', ['core']] = True
inst_prgm.loc[inst_prgm['course_id'] == 'INST362', ['core']] = True
inst_prgm.loc[inst_prgm['course_id'] == 'INST490', ['core']] = True

inst_prgm[inst_prgm["course_id"] == "INST377"]

,course_id,dept_id,name,credits,relationships,core
3043,INST377,INST,Dynamic Web Applications,3,"{'coreqs': None, 'prereqs': '1 course with a m...",False

### Adding Benchmark courses

In [9]:
benchmark_I = False

inst_prgm["benchmark_I"] = benchmark_I

inst_prgm.loc[inst_prgm['course_id'] == 'MATH115', ['benchmark_I']] = True
inst_prgm.loc[inst_prgm['course_id'] == 'PSYCH100', ['benchmark_I']] = True



benchmark_II = False

inst_prgm["benchmark_II"] = benchmark_II

inst_prgm.loc[inst_prgm['course_id'] == 'STAT100', ['benchmark_II']] = True
inst_prgm.loc[inst_prgm['course_id'] == 'INST126', ['benchmark_II']] = True
inst_prgm.loc[inst_prgm['course_id'] == 'INST201', ['benchmark_II']] = True





inst_prgm[inst_prgm["course_id"] == "MATH115"]

,course_id,dept_id,name,credits,relationships,core,benchmark_I,benchmark_II
3465,MATH115,MATH,Precalculus,3,"{'coreqs': None, 'prereqs': 'Must have math el...",False,True,False

### Finding the prereq info for a course

In [ ]:
course = [d.get("prereqs") for d in inst_courses[inst_courses["course_id"] == "INST362"].relationships]
# change the course_id above to find info on a different class
# this could be changed to a variable to make it dynamic
print(course)
regex = r"""
(?xm)
(?P<course>[A-Z]+\d+)
"""

courses = re.findall(regex, str(course))
print(courses)

In [ ]:
test

In [ ]:
test